<div class="card mt-4 shadow-sm text-center">
  <!--タイトル-->
  <h4 class="card-title"><a><%= link_to "#{article.title}", article_path(article.id) %></a></h4>
  <p class="card-content-time"><%= article.created_at.strftime("%Y-%m-%d") %></p>
  <!--画像-->
    <img class="card-img-top" src="<%= rails_blob_path(article.image) %>">
    <div class="card-body">
      <!--本文-->
      <p class="card-text"><%= simple_format(article.subtitle) %></p>
      <!--read moreボタン-->
      <a href="/articles/<%= article.id %>" class="btn btn-outline-secondary text-secondary">read more</a>
    </div>
</div>
