<div class="card mt-4">
  <!--タイトル-->
  <h4 class="card-title"><a><%= @article.title %></a></h4>
  <%= link_to "編集",edit_article_path %>
  <%= link_to "削除",article_path, method: :delete %>
  <!--画像-->
  <img class="card-img-top" src="<%= rails_blob_path(@article.image) %>">
  <div class="card-body">
    <!--本文-->
    <p class="card-text"><%= @article.text %></p>
  </div>
</div>

<h4 class="font-italic">過去ログ</h4>
              <ul style="list-style:none;">
                 <% @archives.each do |yyyymm, count| %>
                      <li><%= ymconv(yyyymm, count.to_s) %></li>
                 <% end %>