<% provide :title, " | #{@article.title}" %>
<div class="card mt-4 shadow-sm">
  <!--タイトル-->
  <div class="show-top">
    <h4 class="card-title-show"><a><%= @article.title %></a></h4>
    <p class="card-content-time"><%= @article.created_at.strftime("%Y-%m-%d") %></p>
    <%= link_to "編集",edit_article_path(@article.id) %>
  </div>
  <!--画像-->
  <img class="card-img-top" src="<%= rails_blob_path(@article.image) %>">
  <div class="card-body">
    <!--本文-->
    <p class="card-text"><%= simple_format(@article.text) %></p>
  </div>
</div>