<div class='login_back'>
  <h1 class="main-title">Blooogs</h1>
    <% if alert %>
      <p class='alert alert-danger'><%= alert %></p>
    <% end %>
  <div class='log-in-inner'>
    <h2 class="log-title">ログイン</h2>
    <hr color="#1e90ff">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="signup-form">
        <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレス', class: 'input form-control' %>
      </div>
      <div>
        <%= f.password_field :password, autocomplete: 'off', placeholder: 'パスワード', class: 'input form-control' %>
      </div><br />

      <% if devise_mapping.rememberable? %>
        <div class='custom-control custom-checkbox'>
            <label class="custom-control-label" for="defaultUnchecked">
              <input class="custom-control-input" id='user_remember_me' name='user[remember_me]' type='checkbox' value='1'>
              <%= f.label :remember_me, 'ログイン情報を記憶する', class: 'memory-check' %>
            </label>
        </div>
      <% end %>
      
      <div>
        <%= f.submit class: 'login_btn btn btn-outline-primary  withripple　btn-lg btn-block', value: 'ログイン' %>
      </div>
    <% end %>

    <div class='login_link'>
      メールアドレス:bbb@bbb</br>
      パスワード:bbbbbb</br>
      ユーザアカウントでログインできます
    </div>
  </div>
</div>