<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    
    <title>Blooogs</title>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-expand fixed-top bg-dark text-white">
        <a href="/" class="navbar-brand">Blooogs</a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/articles/new" class="nav-link">投稿</a></li>
          <li class="nav-item"><a href="/users/<%=current_user.id%>" class="nav-link">マイページ</a></li>
          <li class="nav-item"><a data-method="delete" href="/users/sign_out" class="nav-link" rel="nofollow">ログアウト</a></li>  
        </ul>
      </nav>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-8"><%= yield %></div>
        <div class="col-4">
          <div class="text-center side-content">
            <div class="card testimonial-card mt-4 shadow-sm">
              <div class="card-up indigo"></div>
              <!--プロフィール画像-->
              <div class="avatar mx-auto white">
                <img src="<%= rails_blob_path(current_user.image)%>" class="image-round2" alt="avatar">
              </div>
              <div class="card-body">
                <!--ユーザーの名前-->
                <h4 class="card-title"><%= "#{current_user.name}" %></h4>
                <hr>
                <p><%= "#{current_user.explanation}" %></p>
                <!--プロフィールの詳細-->
                <p><%= link_to"プロフィールの詳細",user_path(current_user) %></p>
              </div>
            </div>
            <!--検索フォーム--> 
            <div class="search-form active-cyan-4 my-4">
              <%= form_tag('/articles/search', method: :get) do %>
                <%= text_field_tag :search %>
                <%= submit_tag 'Search', :name => nil %>
              <% end %>
            </div>
            <!--ランキング-->
            <h2>Popular Articles</h2>
            <% @ranking.each do |article| %>
 　　　　　　　　　　 <div class="card shadow-sm">
                <h4 class="card-title"><a><%= article.title %></a></h4>
                <img class="card-img-top" src="<%= rails_blob_path(article.image) %>">
                <div class="card-body">
                  
                </div>
              </div>
　　　　　　<% end %>
          </div>
        </div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    　　<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    　　<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <footer class='text-center'>
            <p>(C) Blooogs 2019</p>
      </footer>
    </div>
  </body>
</html>